<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Busqueda</title>
</head>
<body>
 <%- include("./partials/navbar.ejs") %>

 <h1>Resultado de búsqueda</h1>

 <% if (paciente) { %>
    <div class="row" style="margin:2px ;">
        <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= paciente.nombre %></h5>
                <p class="card-text"><%= paciente.dni %></p>
                <a href="/detalle/<%= paciente.id %>" class="btn btn-primary">Ver detalles</a>
              </div>
            </div>
          </div>  
    </div>
 <% } %>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>